body {
  justify-content: center;
  align-items: center;
  background: #000000;
}


.Home {
  border-radius: 10px;
  width: 800px;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: white;
}

